/* common */
.orange,
.blu{
    padding: 5px 10px 8px 10px;
    border-radius: 20px;
}

.orange{
    background-color: #cd3d0f;
    border: #cd3d0f;    
}

.blu{
    background-color: #2d64e6;
    border: #2d64e6;
}

button:hover{
    border: 1px solid white;
}

/* header */

.header-top{
    height: 50px;
}

.header-top img{
    width: 80px;
}

/* jumbotron */

.jumbo{
    height: 500px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbo .row img{
    width: 50%;
}

.jumbo-img img{
    width: 100%;
    border-radius: 20px;
}

.jumbo-img img:hover{
    border: 2px solid #0072ce;
    padding: 2px;
}

/* Play 5 */

.play-5 span{
    font-size: 0.75rem;
}

.play-5 .grande img{
    object-fit: cover;
    width: 100%;
}

.play-5 button{
    width: 200px;
}

.play-5 .piccole img{
    object-fit: contain;
    width: 100%;
}

.play-5 .piccole p{
    visibility: hidden;
}


.nuove-uscite .col-12{
    padding-top: 150px;
}

.plus{
    background-color: #bebcbb;
}

.avengers{
    background-color: #161c3b;
}

footer .container-fluid{
    background-color: #00439c;
}

/* versione small */

@media screen and (min-width:576px){
    .play-5 .piccole img{
        width: 90%;
    }
}

/* versione medium */

@media screen and (min-width:768px){
    .play-5 .piccole img{
        width: 80%;
    }

    .play-5 .piccole p{
        visibility: visible;
    }

    .plus{
        background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
        background-position: right 30px top;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .top .box:last-child{
        display: flex;
        justify-content: space-around;
    }

    .top p{
        display: inline-block;
    }

}

/* versione large */

@media screen and (min-width:992px){
    .play-5 .piccole img{
        width: 70%;
    }
}



/* debug */

/* .debug .jumbo.container-fluid, */
.debug .nuove-uscite .container-fluid:first-child{
    background-color: dimgray;
    height: 400px;
}
.debug .box{
    height: 50px;
    background-color: deepskyblue;
}

